@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

details {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "◄";
  display: block;
  float: right;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

details[open] summary::before {
  transform: rotate(-90deg);
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* шапка сайта */
.header_page {
  padding-bottom: 24px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_page__left {
  display: flex;
  align-items: center;
  gap: 37px;
}
.header_page__logo {
  display: flex;
  align-items: center;
  gap: 13px;
}
.header_page__logo__title {
  color: #222;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.header_page__logo__title_d {
  color: #f16d7f;
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
}
.header_page__forminput {
  display: flex;
  align-items: center;
}
.header_page__forminput__browse {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px;
  color: #838383;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  width: 87px;
  height: 38px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  transition: color 0.4s, background-color 0.4s;
}
.header_page__forminput__browse[open] {
  background-color: #f16d7f;
  color: #FFF;
}
.header_page__forminput__browse:hover {
  background-color: #f16d7f;
  color: #FFF;
}
.header_page__forminput__search {
  width: 279px;
  height: 38px;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  padding-right: 16px;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-left: -1px;
  margin-right: -1px;
}
.header_page__forminput__btn {
  background-color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #a4a4a4;
  transition: color 0.4s, background-color 0.4s;
}
.header_page__forminput__btn:hover {
  background-color: #f16d7f;
  fill: #fff;
}
.header_page__forminput__dropmenu {
  background-color: #fff;
  width: 262px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: absolute;
  left: -10px;
  top: 35px;
  cursor: auto;
}
.header_page__forminput__dropmenu__menu {
  display: flex;
  flex-direction: column;
}
.header_page__forminput__dropmenu__title {
  color: #232323;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.header_page__forminput__dropmenu__subtitle {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 5px;
  transition: color 0.4s;
}
.header_page__forminput__dropmenu__subtitle:hover {
  color: #f16d7f;
}
.header_page__forminput__dropmenu:before {
  content: "▲";
  display: block;
  top: -12px;
  left: 72px;
  position: absolute;
  color: white;
}
.header_page__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.header_page__cart {
  fill: #222;
  transition: fill 0.4s;
}
.header_page__cart:hover {
  fill: #f16d7f;
}
.header_page__myaccount {
  display: block;
  position: relative;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  padding: 10px 15px;
  color: #FFF;
  border: 1px solid #FFF;
  transition: color 0.4s, border-color 0.4s, background-color 0.4s;
}
.header_page__myaccount__text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.header_page__myaccount__dropmenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: auto;
  width: 262px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  top: 50px;
  right: 0;
  gap: 10px;
  z-index: 1;
}
.header_page__myaccount__dropmenu__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
  font-size: 16px;
  line-height: 3;
  font-weight: 700;
}
.header_page__myaccount__dropmenu__total__price {
  font-size: 18px;
}
.header_page__myaccount__dropmenu__checkout {
  border: 1px solid #f16d7f;
  padding: 19px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #f16d7f;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  transition: color 0.4s, background-color 0.4s;
}
.header_page__myaccount__dropmenu__checkout:hover {
  color: #FFF;
  background-color: #f16d7f;
}
.header_page__myaccount__dropmenu__tocart {
  border: 1px solid #4a4a4a;
  padding: 19px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  transition: color 0.4s, background-color 0.4s;
}
.header_page__myaccount__dropmenu__tocart:hover {
  color: #FFF;
  background-color: #4a4a4a;
}
.header_page__myaccount[open] {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.header_page__myaccount:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.pay_product {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
.pay_product__cart {
  display: flex;
  gap: 14px;
  align-items: center;
}
.pay_product__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.pay_product__content__title {
  color: #222;
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
}
.pay_product__content__stars {
  fill: orange;
}
.pay_product__content__price {
  color: #f16d7f;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
}
.pay_product__delete {
  fill: #c0c0c0;
  transition: fill 0.4s;
}
.pay_product__delete:hover {
  fill: #f16d7f;
}

/* раздел меню  */
.section_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section_menu__list {
  position: relative;
}
.section_menu__list::after, .section_menu__list::before {
  content: "";
  width: 0;
  border: solid transparent;
  position: absolute;
  left: 50%;
  top: 29px;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 3;
}
.section_menu__list::before {
  border-bottom-color: #e8e8e8;
  border-width: 12px;
}
.section_menu__list::after {
  border-bottom-color: white;
  border-width: 14px;
}
.section_menu__list:hover .section_menu__box {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.section_menu__list:hover::after, .section_menu__list:hover::before {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.section_menu__subtitle {
  color: #222;
  font-size: 14px;
  line-height: normal;
  font-weight: 700;
  cursor: pointer;
  display: block;
  padding: 19px 25px 22px;
  border-bottom: 3px solid white;
  transition: color 0.4s, border-color 0.4s;
}
.section_menu__subtitle:hover {
  color: #f16d7f;
  border-bottom: 3px solid #f16d7f;
}
.section_menu__box {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 52px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 2;
  display: flex;
}
.section_menu__translateX_13 {
  transform: translateX(-130pt);
}
.section_menu__translateX_20 {
  transform: translateX(-201pt);
}
.section_menu__translateX_27 {
  transform: translateX(-272pt);
}
.section_menu__translateX_35 {
  transform: translateX(-356pt);
}
.section_menu__translateX_24 {
  transform: translateX(-245pt);
}
.section_menu__translateX_12 {
  transform: translateX(-127pt);
}
.section_menu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 235px;
  margin-right: 45px;
}
.section_menu__item__title {
  color: #232323;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 4px;
}
.section_menu__item__link {
  color: #646464;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: block;
  transition: color 0.4s;
}
.section_menu__item__link:hover {
  color: #f16d7f;
}
.section_menu__item:last-of-type {
  margin-right: 0;
}

/* раздел промо */
.section_promo {
  display: flex;
  flex-direction: column;
  background-image: url(../img/promo.jpg);
  background-size: contain;
  background-position: center;
  align-items: flex-start;
  justify-content: center;
  height: 38vw;
  gap: 20px;
}
.section_promo__content {
  display: flex;
  gap: 16px;
  align-items: stretch;
}
.section_promo__pic {
  width: 12px;
  background-color: #f16d7f;
}
.section_promo__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section_promo__title {
  color: #222;
  font-size: 60px;
  line-height: 0.7;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.section_promo__subtitle {
  color: #222;
  font-size: 40px;
  line-height: 0.8;
  font-weight: 700;
}
.section_promo__subtitle__pink {
  color: #f16d7f;
}

/* раздел hot */
.section_hot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 261px);
  gap: 20px;
  padding-top: 98px;
}
.section_hot__item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}
.section_hot__item__name {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  gap: 4px;
  background-color: #fff;
  font-weight: 900;
  letter-spacing: 0.025em;
  padding: 10px 18px;
}
.section_hot__item__text {
  font-size: 18px;
  color: #222222;
}
.section_hot__item__title {
  font-size: 30px;
  color: #f16d7f;
}
.section_hot__item:hover {
  transform: scale(1.02);
}

.big_item {
  grid-row: span 2;
  grid-column: span 1;
}

.men {
  background-image: url(../img/men.jpg);
}

.women {
  background-image: url(../img/women.jpg);
}

.kid {
  background-image: url(../img/kid.jpg);
}

.accesories {
  background-image: url(../img/accesories.jpg);
}

/* раздел рекомендуемое */
.section_featured {
  margin-top: 100px;
}
.section_featured__lead {
  color: #222;
  font-size: 30px;
  line-height: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025em;
}
.section_featured__lead2 {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-align: center;
}
.section_featured__desc {
  margin-top: 6px;
  text-align: center;
  color: #9F9F9F;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.section_featured__items {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 261px);
  gap: 32px;
}
.section_featured__item {
  display: block;
  position: relative;
  border: 1px solid #FFF;
  transition: border 0.4s, background-color 0.4s;
}
.section_featured__item__cart {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
  top: 30%;
  left: 25%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 0.2s;
}
.section_featured__item__cart__add {
  display: flex;
  fill: white;
  gap: 11px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  padding: 11px 13px 9px 13px;
  color: white;
  font-size: 13px;
  line-height: normal;
  font-weight: 700;
  transition: background-color 0.4s;
}
.section_featured__item__cart__add:hover {
  background-color: #f16d7f;
}
.section_featured__item:hover {
  border: 1px solid #f16d7f;
}
.section_featured__item:hover .section_featured__item__cart {
  opacity: 1;
}
.section_featured__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
}
.section_featured__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
}
.section_featured__content:hover::before {
  opacity: 1;
}
.section_featured__title {
  color: black;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  padding-left: 18px;
}
.section_featured__price {
  color: #f16d7f;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  padding-left: 18px;
  padding-right: 18px;
}
.section_featured__browse {
  display: flex;
  justify-content: center;
}
.section_featured__btn {
  margin-top: 48px;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  border: 1px solid #FFF;
  letter-spacing: 0.025em;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
.section_featured__btn:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

/* раздел навигации */
.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  color: #f16d7f;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumbs__link::after {
  content: "/";
  margin: 0 5px;
  color: #636363;
}
.breadcrumbs__link:last-child::after {
  content: none;
}

/* раздел каталог */
.product-box {
  display: grid;
  grid-template-columns: 1fr repeat(3, 263px);
  gap: 30px;
  margin-top: 60px;
}
.product-box__filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.product-box__filter__title {
  margin-top: 10px;
}
.product-box__filter__trend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  gap: 10px;
}
.product-box__filter__trend__title {
  color: #6f6e6e;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  transition: color 0.4s;
}
.product-box__filter__trend__title:hover {
  color: #f16d7f;
}
.product-box__filter__trend__title:not(:first-child) {
  border-left: 1px solid #6f6e6e;
  padding-left: 10px;
}
.product-box__filter__box1 {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.product-box__filter__box2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 13px;
}
.product-box__filter__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.product-box__filter__check__text {
  color: #6f6e6e;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.product-box__filter__field {
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.product-box__filter__field__text {
  display: flex;
  justify-content: space-between;
}
.product-box__filter__min_max {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.product-box__sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 11px;
  margin-bottom: 18px;
  padding: 10px;
  background-color: #f3f3f3;
}
.product-box__sort__box {
  display: flex;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.product-box__sort__head {
  height: 30px;
  background-color: #ffffff;
  border-right: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 8px;
  font-weight: 400;
  padding: 10px 8px 8px 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-box__sort__head[open] {
  color: white;
  background-color: #f16d7f;
}
.product-box__sort_by {
  width: 65px;
}
.product-box__show {
  width: 45px;
}
.product-box__category {
  grid-row: span 6;
  grid-column: span 1;
}
.product-box__footsort {
  grid-row: span 1;
  grid-column: span 3;
  height: 50px;
}
.product-box__footer {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-box__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.product-box__page {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  padding: 17px 8px;
  transition: color 0.4s;
}
.product-box__page:hover {
  color: #f16d7f;
}
.product-box__btn {
  width: 150px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #f16d7f;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  padding: 15px 18px;
  border: 1px solid #f16d7f;
  letter-spacing: 0.025em;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.product-box__btn:hover {
  background-color: #f16d7f;
  color: white;
  border: 1px solid white;
}

.filter__content {
  background-color: #fff;
  padding-right: 20px;
}
.filter__item__heading {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
}
.filter__item[open] .filter__item__heading {
  color: #f16d7f;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  transition: color 0.4s;
}
.filter__link__box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link:hover {
  color: #f16d7f;
}

/* раздел преимущества */
.section_benefit {
  margin-top: 110px;
  display: flex;
}
.section_benefit__hot {
  position: relative;
}
.section_benefit__hot__img {
  width: 767px;
  height: 100%;
  filter: brightness(80%);
}
.section_benefit__hot__title {
  position: absolute;
  top: 140px;
  left: 40px;
  color: white;
  font-size: 54px;
  line-height: 0.7;
  font-weight: 700;
  letter-spacing: 0.025em;
  width: 300px;
}
.section_benefit__hot__title_d {
  color: #f16d7f;
}
.section_benefit__hot__text {
  font-size: 32px;
}
.section_benefit__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 38px;
  width: 373px;
  gap: 50px;
  background-color: #222224;
}
.section_benefit__item {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
.section_benefit__item__img {
  padding-top: 5px;
}
.section_benefit__article {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.section_benefit__title {
  margin-top: 9px;
  color: white;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
}
.section_benefit__text {
  color: white;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  width: 220px;
}

.benefit {
  margin-top: 95px;
  gap: 80px;
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.benefit_item {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.benefit_text {
  width: 100%;
  color: white;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.025em;
}

/* страница продукта */
.section_single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}
.section_single img {
  height: 100%;
}
.section_single__arrow {
  border: 1px solid #fff;
  fill: #fff;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  transition: background-color 0.4s, fill 0.4s, border 0.4s;
}
.section_single__arrow:hover {
  fill: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

/* описание продукта */
.section_product {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 120px;
}
.section_product__nav {
  text-align: center;
  color: #f16d7f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.section_product__nav:before {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_product__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 642px;
  gap: 28px;
  padding-top: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}
.section_product__single__name {
  color: #4d4d4d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 40px;
}
.section_product__single__description {
  text-align: center;
  color: #5e5e5e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.section_product__single__components {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.section_product__single__components h5 {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.section_product__single__components__material {
  color: #2f2f2f;
}
.section_product__single__components__designer {
  color: #2f2f2f;
}
.section_product__single__price {
  color: #f16d7f;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.section_product__add {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.section_product__add__filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.section_product__add__filter__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_product__add__filter__name {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.section_product__add__filter__head {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  padding: 10px 8px 8px 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section_product__add__filter__color {
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  float: left;
  margin-right: 10px;
}
.section_product__add__filter_by {
  width: 121px;
}
.section_product__add__filter__input {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  padding: 0px 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section_product__add__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  fill: #f16d7f;
  color: #f16d7f;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  border: 1px solid #f16d7f;
  width: 530px;
  height: 55px;
  background-color: #ffffff;
  transition: color 0.4s, fill 0.4s, border 0.4s, background-color 0.4s;
}
.section_product__add__btn:hover {
  fill: #fff;
  color: #fff;
  background-color: #f16d7f;
  border: 1px solid #fff;
}

/* раздел подпишись */
.section_subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 97px;
  height: 438px;
  justify-content: center;
  align-items: center;
}
.section_subscribe__margin {
  margin-top: 0;
}

.subscribe_back {
  background: linear-gradient(50deg, #ffffff, #000000), url(../img/background_subscribe.png);
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe_intersect {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.subscribe_intersect__img {
  width: 96px;
}
.subscribe_intersect__text {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: black;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
}
.subscribe_intersect__name {
  color: #f16d7f;
  font-size: 16px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.subscribe_intersect__place {
  color: black;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
}

.subscribe_subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe_subscribe__title {
  text-align: center;
  color: black;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribe_subscribe__subtitle {
  max-width: 557px;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.subscribe_subscribe__label {
  margin-top: 32px;
  display: flex;
}
.subscribe_subscribe__input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px 0 0 30px;
  background-color: #E1E1E1;
  padding-left: 22px;
  padding-right: 22px;
  opacity: 0.67;
  color: black;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribe_subscribe__btn {
  width: 100px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  border-radius: 0 30px 30px 0;
  color: white;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.subscribe_subscribe__btn:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

/* информация сайта */
.section_info {
  margin-top: 110px;
  margin-bottom: 90px;
  display: inline-block;
}
.section_info__about {
  display: inline-block;
  margin-right: 50px;
}
.section_info__about__text {
  letter-spacing: 0.025em;
  color: #898989;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  width: 430px;
  margin-top: 28px;
}
.section_info__nav {
  display: inline-block;
  width: 176px;
  margin-right: 60px;
}
.section_info__nav:last-child {
  margin-right: 0;
}
.section_info__nav__title {
  color: #f16d7f;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 45px;
}
.section_info__nav__menu__text {
  display: block;
  color: #898989;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
  transition: color 0.4s;
  margin-bottom: 23px;
}
.section_info__nav__menu__text:last-child {
  margin-bottom: 0;
}
.section_info__nav__menu__text:hover {
  color: #f16d7f;
}

@supports (display: flex) {
  .section_info {
    display: flex;
  }
  .section_info__about {
    display: flex;
    flex-direction: column;
  }
  .section_info__nav {
    display: flex;
    flex-direction: column;
  }
  .section_info__nav__menu {
    display: flex;
    flex-direction: column;
  }
}
@supports (gap: 0) {
  .section_info {
    gap: 60px;
  }
  .section_info__about {
    gap: 28px;
    margin-right: 0;
  }
  .section_info__about__text {
    margin-top: 0;
  }
  .section_info__nav {
    gap: 45px;
    margin-right: 0;
  }
  .section_info__nav__title {
    margin-bottom: 0;
  }
  .section_info__nav__menu {
    gap: 23px;
  }
  .section_info__nav__menu__text {
    margin-bottom: 0;
  }
}
/* подвал сайта */
.footer {
  display: flex;
  background-color: #e6e6e6;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  color: #7a7a7a;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.footer__nav {
  display: flex;
  gap: 7px;
}
.footer__link {
  display: flex;
  background-color: #FFF;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  fill: #b2b2b2;
  transition: fill 0.4s, background-color 0.4s;
}
.footer__link:hover {
  background-color: #f16d7f;
  fill: white;
}/*# sourceMappingURL=style.css.map */