@import 'vars'
@import 'mixins'

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: #FFF
    font-family: 'Lato', sans-serif

a 
    text-decoration: none

details
    user-select: none

summary
    display: block

summary::-webkit-details-marker
    display: none

summary::before
    content: '\25C4'
    display: block
    float: right
    transform: rotate(0deg)
    transition: transform 0.3s ease-in-out
    
details[open] summary::before
    transform: rotate(-90deg)

.center
    padding-left: calc(50% - $widthSite / 2)
    padding-right: calc(50% - $widthSite / 2)

/* шапка сайта */
.header_page
    padding-bottom: 24px
    padding-top: 25px
    display: flex
    justify-content: space-between
    align-items: center

    &__left
        display: flex
        align-items: center
        gap: 37px

    &__logo
        display: flex
        align-items: center
        gap: 13px
        
        &__title
            @include fontMix(#222, 27px, 32px, 300)
            letter-spacing: 0.025em

        &__title_d
            @include fontMix($colorBasic, 28px, 32px, 900)
    
    &__forminput
        display: flex
        align-items: center

        &__browse
            display: block
            position: relative
            cursor: pointer
            padding: 10px
            @include fontMix(#838383, 14px, normal, 300)
            width: 87px
            height: 38px
            background-color: #f9f9f9
            border: 1px solid #e6e6e6
            border-radius: 3px 0px 0px 3px

        &__browse:hover
            background-color: $colorBasic
            color: #FFF
            
        &__search
            width: 279px
            height: 38px
            border: 1px solid #e6e6e6
            padding-left: 16px
            padding-right: 16px
            @include fontMix(#a4a4a4, 14px, 32px, 300)
            letter-spacing: 0.025em
            margin-left: -1px
            margin-right: -1px
    
        &__btn
            background-color: #fff
            width: 38px
            height: 38px
            border-radius: 0px 3px 3px 0px
            border: 1px solid #e6e6e6
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            fill: #a4a4a4
        
        &__btn:hover
            background-color: $colorBasic
            fill: #fff
            
        &__dropmenu
            background-color: #fff
            width: 262px
            display: flex
            flex-direction: column
            gap: 10px
            padding: 20px
            position: absolute
            left: -10px
            top: 35px
            cursor: auto

            &__menu
                display: flex
                flex-direction: column

            &__title
                @include fontMix(#232323, 14px, 32px, 400)
                letter-spacing: 0.025em
                border-bottom: 1px solid #e6e6e6
                margin-bottom: 10px

            &__subtitle
                @include fontMix(#4f4f4f, 14px, 28px, 400)
                padding-left: 5px

            &__subtitle:hover
                color: $colorBasic 
        
        &__dropmenu:before
            content: '\25B2'
            display: block
            top: -12px
            left: 72px
            position: absolute
            color: white       

    &__right
        display: flex
        justify-content: center
        align-items: center
        gap: 26px
    
    &__cart
        fill: #222
    
    &__cart:hover
        fill: $colorBasic

    &__myaccount
        display: block
        position: relative
        cursor: pointer
        width: 130px
        height: 38px
        background-color: $colorBasic
        padding: 10px 15px
        color: #FFF
        border: 1px solid #FFF
    
        &__text
            font-size: 14px
            font-weight: 400
            letter-spacing: 0.025em
        
        &__dropmenu
            display: flex
            flex-direction: column
            position: absolute
            cursor: auto
            width: 262px
            background-color: #fff
            border-radius: 5px
            padding: 20px
            top: 50px
            right: 0
            gap: 10px

            &__total
                display: flex
                justify-content: space-between
                align-items: center
                @include fontMix(#222, 16px, 3, 700)

                &__price
                    font-size: 18px
            
            &__checkout
                border: 1px solid $colorBasic
                padding: 19px
                display: flex
                align-content: center
                justify-content: center
                @include fontMix($colorBasic, 14px, 1.2, 700)

            &__checkout:hover
                color: #FFF
                background-color: $colorBasic

            &__tocart
                border: 1px solid #4a4a4a
                padding: 19px
                display: flex
                align-content: center
                justify-content: center
                @include fontMix(#4a4a4a, 14px, 1.2, 700)

            &__tocart:hover
                color: #FFF
                background-color: #4a4a4a

    &__myaccount:hover
        background-color: #FFF
        color: $colorBasic
        border: 1px solid $colorBasic

.pay_product
    display: flex
    gap: 14px
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #e6e6e6
    padding-bottom: 16px

    &__cart
        display: flex
        gap: 14px
        align-items: center

    &__content
        display: flex
        gap: 10px
        flex-direction: column

        &__title
            @include fontMix(#222, 12px, normal, 700)
    
        &__stars
            fill: orange

        &__price
            @include fontMix($colorBasic, 13px, normal, 400)
    
    &__delete:hover
        fill: $colorBasic

/* раздел меню  */
.section_menu
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    gap: 50px
    padding-top: 19px
    padding-bottom: 22px

    &__subtitle
        @include fontMix(#222, 14px, normal, 700)
        cursor: pointer
    
    &__subtitle:hover
        color: $colorBasic

/* раздел промо */
.section_promo 
    display: flex    
    background-image: url(../img/promo.jpg)
    background-size: contain
    background-position:  center
    align-items: center
    height: 38vw

    &__content 
        display: flex
        gap: 16px
        align-items: stretch


    &__pic
        width: 12px
        background-color: $colorBasic
    
    &__box
        display: flex
        flex-direction: column
        gap: 20px
        
    &__title
        @include fontMix(#222, 60px, 0.7, 900)
        letter-spacing: 0.025em

    &__subtitle
        @include fontMix(#222, 40px, 0.8, 700)

        &__pink
            color: $colorBasic

/* раздел hot */
.section_hot
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(3, 261px)
    gap: 20px
    padding-top: 98px

    &__item
        position: relative
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        transition: transform 0.2s

        &__name
            display: flex
            flex-direction: column
            position: absolute
            top: 25px
            gap: 4px
            background-color: #fff
            font-weight: 900
            letter-spacing: 0.025em
            padding: 10px 18px

        &__text
            font-size: 18px            
            color: #222222

        &__title
            font-size: 30px
            color: $colorBasic

    &__item:hover
        transform: scale(1.02)

.big_item
    grid-row: span 2
    grid-column: span 1

.men
    background-image: url(../img/men.jpg)

.women
    background-image: url(../img/women.jpg)

.kid
    background-image: url(../img/kid.jpg)

.accesories
    background-image: url(../img/accesories.jpg)

/* раздел рекомендуемое */
.section_featured
    margin-top: 100px

    &__lead
        @include fontMix(#222, 30px, normal, 700)
        text-align: center
        letter-spacing: 0.025em

    &__desc
        margin-top: 6px
        text-align: center
        @include fontMix(#9F9F9F, 14px, normal, 400)
        letter-spacing: 0.025em

    &__items
        margin-top: 60px
        display: grid
        grid-template-columns: repeat(4, 261px)
        gap: 32px

    &__item
        cursor: pointer
        display: block
        position: relative
        border: 1px solid #FFF

        &__cart
            background-color: $colorBasic
            position: absolute
            visibility: hidden
            text-align: center
            top: 30%
            left: 25%
            user-select: none

            &__add
                display: flex
                fill: white
                gap: 11px
                border: 2px solid white  
                justify-content: center
                align-items: center
                padding: 11px 13px 9px 13px
                @include fontMix(white, 13px, normal, 700)

    &__item:hover &__item__cart
        visibility: visible
    
    &__item__cart__add:active
        background-color: #fff
        fill: $colorBasic
        color: $colorBasic
        border: 2px solid $colorBasic

    &__item:hover
        color: $colorBasic
        filter: opacity(70%)
    
    &__item:active
        border: 1px solid $colorBasic

    &__content
        display: flex
        flex-direction: column
        gap: 16px
        padding-bottom: 10px

    &__title
        @include fontMix(black, 13px, normal, 400)
        padding-left: 18px

    &__price
        @include fontMix($colorBasic, 16px, normal, 700)
        padding-left: 18px
        padding-right: 18px 

    &__browse
        display: flex
        justify-content: center

    &__btn
        margin-top: 48px
        width: 212px
        height: 48px
        background-color: $colorBasic
        @include fontMix(white, 16px, normal, 700)
        padding: 15px 18px
        border: 1px solid #FFF
        letter-spacing: 0.025em

    &__btn:hover
        background-color: #FFF
        color: $colorBasic
        border: 1px solid $colorBasic

/* раздел преимущества */
.section_benefit
    margin-top: 110px
    display: flex

    &__hot
        position: relative

        &__img
            width: 767px
            height: 100%
            filter: brightness(80%)

        &__title
            position: absolute
            top: 140px
            left: 40px
            @include fontMix(white, 54px, 0.7, 700)
            letter-spacing: 0.025em
            width: 300px
        
        &__title_d
            color: $colorBasic
        
        &__text
            font-size: 32px

    &__items
        display: flex
        flex-direction: column
        justify-content: center
        padding: 48px 38px
        width: 373px
        gap: 50px
        background-color: #222224

    &__item
        display: flex
        gap: 30px
        justify-content: center
        align-items: flex-start

        &__img
            padding-top: 5px
    
    &__article
        display: flex
        flex-direction: column
        gap: 17px

    &__title
        margin-top: 9px
        @include fontMix(white, 20px, normal, 400)

    &__text
        width: 360px
        @include fontMix(white, 14px, normal, 300)
        width: 220px

/* раздел подпишись */
.section_subscribe
    display: grid
    grid-template-columns: 1fr 1fr
    margin-top: 97px
    height: 438px
    justify-content: center
    align-items: center

.subscribe_back
    background: linear-gradient(50deg, #ffffff, #000000), url(../img/background_subscribe.png)
    background-size: cover
    background-blend-mode: screen
    background-repeat: no-repeat
    background-position: center

.subscribe_intersect
    display: flex
    gap: 30px
    align-items: center
    justify-content: center

    &__img
        width: 96px

    &__text
        width: 420px
        display: flex
        flex-direction: column
        gap: 18px
        @include fontMix(black, 16px, 26px, 400)
        font-style: italic
        letter-spacing: 0.025em
    
    &__name
        @include fontMix($colorBasic, 16px, 0.8, 700)
        letter-spacing: 0.025em

    &__place
        @include fontMix(black, 12px, normal, 400)

.subscribe_subscribe
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__title
        text-align: center
        @include fontMix(black, 24px, normal, 400)
        letter-spacing: 0.025em

    &__subtitle
        max-width: 557px
        @include fontMix(black, 14px, 24px, 400)
        text-align: center

    &__label
        margin-top: 32px
        display: flex

    &__input
        width: 300px
        height: 50px
        border: none
        border-radius: 30px 0 0 30px
        background-color: #E1E1E1
        padding-left: 22px
        padding-right: 22px
        opacity: 0.67
        @include fontMix(black, 14px, normal, 400)
        letter-spacing: 0.025em

    &__btn
        width: 100px
        height: 50px
        background-color: $colorBasic
        border: none
        border-radius: 0 30px 30px 0
        @include fontMix(white, 14px, normal, 400)
        text-align: center

    &__btn:hover
        background-color: #FFF
        color: $colorBasic
        border: 1px solid $colorBasic

/* информация сайта */
.section_info
    margin-top: 110px
    margin-bottom: 90px
    display: flex
    gap: 60px

    &__about
        display: flex
        flex-direction: column
        gap: 28px
        
        &__text
            letter-spacing: 0.025em
            @include fontMix(#898989, 14px, 24px, 300)
            width: 430px
    
    &__nav
        display: flex
        flex-direction: column
        gap: 45px
        width: 176px

        &__title
            @include fontMix($colorBasic, 18px, normal, 700)
            letter-spacing: 0.025em

        &__menu
            display: flex
            flex-direction: column
            gap: 23px

            &__text
                @include fontMix(#898989, 16px, normal, 400)
                letter-spacing: 0.025em
            
            &__text:hover
                color: $colorBasic

/* подвал сайта */
.footer
    display: flex
    background-color: #e6e6e6
    padding-top: 24px
    padding-bottom: 24px
    justify-content: space-between
    align-items: center

    &__copyright
        @include fontMix(#7a7a7a, 16px, normal, 400)
        letter-spacing: 0.025em

    &__nav
        display: flex
        gap: 7px

    &__link
        display: flex
        background-color: #FFF
        width: 32px
        height: 32px
        justify-content: center
        align-items: center
        fill: #b2b2b2
        
    &__link:hover
        background-color: $colorBasic
        fill: white
        