@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

details {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
details[open] summary::before {
  transform: rotate(-90deg);
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "◄";
  display: block;
  float: right;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* шапка сайта */
.header {
  padding-bottom: 24px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 37px;
}
.header__forminput {
  display: flex;
  align-items: center;
}
.header__browse {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px;
  color: #838383;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  width: 87px;
  height: 38px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  transition: color 0.4s, background-color 0.4s;
}
.header__browse[open] {
  background-color: #f16d7f;
  color: #FFF;
}
.header__browse:hover {
  background-color: #f16d7f;
  color: #FFF;
}
.header__input {
  width: 279px;
  height: 38px;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  padding-right: 16px;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-left: -1px;
  margin-right: -1px;
}
.header__search {
  background-color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #a4a4a4;
  transition: color 0.4s, background-color 0.4s;
}
.header__search:hover {
  background-color: #f16d7f;
  fill: #fff;
}
.header__browsemenu {
  background-color: #fff;
  width: 262px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: absolute;
  left: -10px;
  top: 35px;
  cursor: auto;
}
.header__browsemenu:before {
  content: "▲";
  display: block;
  top: -12px;
  left: 72px;
  position: absolute;
  color: white;
}
.header__menu {
  display: flex;
  flex-direction: column;
}
.header__subtitle {
  color: #232323;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.header__anchor {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 5px;
  transition: color 0.4s;
}
.header__anchor:hover {
  color: #f16d7f;
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.header__cart {
  fill: #222;
  transition: fill 0.4s;
}
.header__cart:hover {
  fill: #f16d7f;
}
.header__myaccount {
  display: block;
  position: relative;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  padding: 10px 15px;
  color: #FFF;
  border: 1px solid #FFF;
  transition: color 0.4s, border-color 0.4s, background-color 0.4s;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.header__myaccount[open] {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.header__myaccount:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.header__mymenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: auto;
  width: 262px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  top: 50px;
  right: 0;
  gap: 10px;
  z-index: 1;
}
.header__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
  font-size: 16px;
  line-height: 3;
  font-weight: 700;
}
.header__price {
  font-size: 18px;
}
.header__checkout {
  border: 1px solid #f16d7f;
  padding: 19px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #f16d7f;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  transition: color 0.4s, background-color 0.4s;
}
.header__checkout:hover {
  color: #FFF;
  background-color: #f16d7f;
}
.header__tocart {
  border: 1px solid #4a4a4a;
  padding: 19px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  transition: color 0.4s, background-color 0.4s;
}
.header__tocart:hover {
  color: #FFF;
  background-color: #4a4a4a;
}

/* вложенный селектор (10 + 1 + 1) */
.logo {
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo h2 {
  color: #222;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.logo h2 span {
  color: #f16d7f;
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
}

.pay {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
.pay__cart {
  display: flex;
  gap: 14px;
  align-items: center;
}
.pay__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.pay__title {
  color: #222;
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
}
.pay__stars {
  fill: orange;
}
.pay__price {
  color: #f16d7f;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
}
.pay__delete {
  fill: #c0c0c0;
  transition: fill 0.4s;
  align-self: center;
  margin: 0 auto;
}
.pay__delete:hover {
  fill: #f16d7f;
}

/* раздел меню  */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav__menu {
  position: relative;
  /* Сложный селектор к первому anchor */
}
.nav__menu::after, .nav__menu::before {
  content: "";
  width: 0;
  border: solid transparent;
  position: absolute;
  left: 50%;
  top: 29px;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 3;
}
.nav__menu::before {
  border-bottom-color: #e8e8e8;
  border-width: 12px;
}
.nav__menu::after {
  border-bottom-color: white;
  border-width: 14px;
}
.nav__menu:hover .nav__box {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.nav__menu:not(:first-child):hover::after, .nav__menu:not(:first-child):hover::before {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.nav__menu > a {
  color: #222;
  font-size: 14px;
  line-height: normal;
  font-weight: 700;
  cursor: pointer;
  display: block;
  padding: 19px 25px 22px;
  border-bottom: 3px solid white;
  transition: color 0.4s, border-color 0.4s;
}
.nav__menu > a:hover {
  color: #f16d7f;
  border-bottom: 3px solid #f16d7f;
}
.nav__box {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 52px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 2;
  display: flex;
}
.nav__box_translateX-13 {
  transform: translateX(-130pt);
}
.nav__box_translateX-20 {
  transform: translateX(-201pt);
}
.nav__box_translateX-27 {
  transform: translateX(-272pt);
}
.nav__box_translateX-35 {
  transform: translateX(-356pt);
}
.nav__box_translateX-24 {
  transform: translateX(-245pt);
}
.nav__box_translateX-12 {
  transform: translateX(-127pt);
}
.nav__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 235px;
  margin-right: 45px;
}
.nav__item:last-of-type {
  margin-right: 0;
}
.nav__dir {
  color: #232323;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 4px;
}
.nav__link {
  color: #646464;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: block;
  transition: color 0.4s;
}
.nav__link:hover {
  color: #f16d7f;
}

/* раздел промо */
.promo {
  display: flex;
  flex-direction: column;
  background-image: url(../img/promo.jpg);
  background-size: contain;
  background-position: center;
  align-items: flex-start;
  justify-content: center;
  height: 38vw;
  gap: 20px;
}
.promo__content {
  display: flex;
  gap: 16px;
  align-items: stretch;
}
.promo__pic {
  width: 12px;
  background-color: #f16d7f;
}
.promo__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.promo__title {
  color: #222;
  font-size: 60px;
  line-height: 0.7;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.promo__subtitle {
  color: #222;
  font-size: 40px;
  line-height: 0.8;
  font-weight: 700;
}
.promo__subtitle span {
  color: #f16d7f;
}

/* раздел hot */
.hot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 261px);
  gap: 20px;
  padding-top: 98px;
}
.hot__item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}
.hot__item:hover {
  transform: scale(1.02);
}
.hot__item__men {
  background-image: url(../img/men.jpg);
}
.hot__item__women {
  background-image: url(../img/women.jpg);
}
.hot__item__kid {
  background-image: url(../img/kid.jpg);
}
.hot__item__accesories {
  background-image: url(../img/accesories.jpg);
}
.hot__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  gap: 4px;
  background-color: #fff;
  font-weight: 900;
  letter-spacing: 0.025em;
  padding: 10px 18px;
}
.hot__text {
  font-size: 18px;
  color: #222222;
}
.hot__name {
  font-size: 30px;
  color: #f16d7f;
}
.hot__big-item {
  grid-row: span 2;
  grid-column: span 1;
}

/* раздел рекомендуемое */
.featured {
  margin-top: 100px;
}
.featured__lead {
  color: #222;
  font-size: 30px;
  line-height: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025em;
}
.featured__lead_mod {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
}
.featured__desc {
  margin-top: 6px;
  text-align: center;
  color: #9F9F9F;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.featured__items {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 261px);
  gap: 32px;
}
.featured__item {
  display: block;
  position: relative;
  border: 1px solid #FFF;
  transition: border 0.4s, background-color 0.4s;
}
.featured__item:hover {
  border: 1px solid #f16d7f;
}
.featured__item:hover .featured__cart {
  opacity: 1;
}
.featured__cart {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
  top: 30%;
  left: 25%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 0.2s;
}
.featured__add {
  display: flex;
  fill: white;
  gap: 11px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  padding: 11px 13px 9px 13px;
  color: white;
  font-size: 13px;
  line-height: normal;
  font-weight: 700;
  transition: background-color 0.4s;
}
.featured__add:hover {
  background-color: #f16d7f;
}
.featured__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
}
.featured__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
}
.featured__content:hover::before {
  opacity: 1;
}
.featured__title {
  color: black;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  padding-left: 18px;
}
.featured__price {
  color: #f16d7f;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  padding-left: 18px;
  padding-right: 18px;
}
.featured__browse {
  display: flex;
  justify-content: center;
}
.featured__btn {
  margin-top: 48px;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  border: 1px solid #FFF;
  letter-spacing: 0.025em;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}
.featured__btn:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

/* раздел навигации */
.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  color: #f16d7f;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumbs__link::after {
  content: "/";
  margin: 0 5px;
  color: #636363;
}
.breadcrumbs__link:last-child::after {
  content: none;
}

/* раздел каталог */
.product-box {
  display: grid;
  grid-template-columns: 1fr repeat(3, 263px);
  gap: 30px;
  margin-top: 60px;
}
.product-box__filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.product-box__title {
  margin-top: 10px;
}
.product-box__trend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  gap: 10px;
}
.product-box__link {
  color: #6f6e6e;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  transition: color 0.4s;
}
.product-box__link:hover {
  color: #f16d7f;
}
.product-box__link:not(:first-child) {
  border-left: 1px solid #6f6e6e;
  padding-left: 10px;
}
.product-box__box-flex {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.product-box__box-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 13px;
}
.product-box__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.product-box__size {
  color: #6f6e6e;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.product-box__field {
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.product-box__range {
  display: flex;
  justify-content: space-between;
}
.product-box__min-max {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.product-box__sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 11px;
  margin-bottom: 18px;
  padding: 10px;
  background-color: #f3f3f3;
}
.product-box__box {
  display: flex;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.product-box__head {
  height: 30px;
  background-color: #ffffff;
  border-right: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 8px;
  font-weight: 400;
  padding: 10px 8px 8px 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-box__head[open] {
  color: white;
  background-color: #f16d7f;
}
.product-box__sort-by {
  width: 65px;
}
.product-box__show {
  width: 45px;
}
.product-box__footer {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-box__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.product-box__page {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  padding: 17px 8px;
  transition: color 0.4s;
}
.product-box__page:hover {
  color: #f16d7f;
}
.product-box__btn {
  width: 150px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #f16d7f;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  padding: 15px 18px;
  border: 1px solid #f16d7f;
  letter-spacing: 0.025em;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.product-box__btn:hover {
  background-color: #f16d7f;
  color: white;
  border: 1px solid white;
}
.product-box_category {
  grid-row: span 6;
  grid-column: span 1;
}
.product-box_footsort {
  grid-row: span 1;
  grid-column: span 3;
  height: 50px;
}

.filter__content {
  background-color: #fff;
  padding-right: 20px;
}
.filter__item[open] .filter__heading {
  color: #f16d7f;
}
.filter__heading {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
}
.filter__box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  transition: color 0.4s;
}
.filter__link:hover {
  color: #f16d7f;
}

/* раздел преимущества */
.benefit {
  margin-top: 110px;
  display: flex;
}
.benefit__hot {
  position: relative;
}
.benefit__img {
  width: 767px;
  height: 100%;
  filter: brightness(80%);
}
.benefit__title {
  position: absolute;
  top: 140px;
  left: 40px;
  color: white;
  font-size: 54px;
  line-height: 0.7;
  font-weight: 700;
  letter-spacing: 0.025em;
  width: 300px;
}
.benefit__title-d {
  color: #f16d7f;
}
.benefit__text {
  font-size: 32px;
}
.benefit__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 38px;
  width: 373px;
  gap: 50px;
  background-color: #222224;
}
.benefit__item {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
.benefit__item img {
  padding-top: 5px;
}
.benefit__article {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.benefit__subtitle {
  margin-top: 9px;
  color: white;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
}
.benefit__desc {
  color: white;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  width: 220px;
}

.benefit-mini {
  margin-top: 95px;
  gap: 80px;
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.benefit-mini__item {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.benefit-mini__text {
  width: 100%;
  color: white;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.025em;
}

/* страница продукта */
.single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
  background-color: #f7f7f7;
}
.single img {
  height: 100%;
}
.single__arrow {
  border: 1px solid #fff;
  fill: #fff;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  transition: background-color 0.4s, fill 0.4s, border 0.4s;
}
.single__arrow:hover {
  fill: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

/* описание продукта */
.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -60px;
  padding-top: 60px;
  padding-bottom: 120px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.description__nav {
  text-align: center;
  color: #f16d7f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.description__nav:before {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 642px;
  gap: 28px;
  padding-top: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}
.description__lead {
  color: #4d4d4d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 40px;
}
.description__text {
  text-align: center;
  color: #5e5e5e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.description__components {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.description__components h5 {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.description__material {
  color: #2f2f2f;
}
.description__designer {
  color: #2f2f2f;
}
.description__price {
  color: #f16d7f;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.description__add {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.description__filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.description__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description__name {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.description__head {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  padding: 10px 8px 8px 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.description__color {
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  float: left;
  margin-right: 10px;
}
.description_by {
  width: 121px;
}
.description__input {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  padding: 0px 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.description__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  fill: #f16d7f;
  color: #f16d7f;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  border: 1px solid #f16d7f;
  width: 530px;
  height: 55px;
  background-color: #ffffff;
  transition: color 0.4s, fill 0.4s, border 0.4s, background-color 0.4s;
}
.description__btn:hover {
  fill: #fff;
  color: #fff;
  background-color: #f16d7f;
  border: 1px solid #fff;
}

/* страница покупки карточек */
.shopping {
  margin-top: 70px;
}
.shopping__carts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.shopping__cart {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shopping__cart img {
  height: 115px;
}
.shopping__separator {
  grid-column: span 6;
  height: 1px;
  background-color: #eaeaea;
}
.shopping__content {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 330px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.shopping__name {
  color: #222;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
}
.shopping__color-size {
  color: #575757;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.shopping__color-size span {
  font-weight: 300;
  color: #6f6e6e;
}
.shopping input, .shopping select {
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 17px;
  padding-right: 17px;
}
.shopping select {
  color: #b1b1b1;
}
.shopping__column, .shopping__cell {
  text-align: center;
  align-self: center;
}
.shopping__column {
  color: black;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.015em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shopping__column_first {
  text-align: start;
}
.shopping__cell {
  font-weight: 400;
  color: #656565;
}
.shopping__quantitu {
  width: 60px;
  height: 30px;
  border: 1px solid #eaeaea;
  align-self: center;
  margin: 0 auto;
  color: #656565;
}
.shopping__submit {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.shopping__checkout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  gap: 30px;
}
.shopping__label {
  color: black;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}
.shopping__desc {
  color: black;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}
.shopping__form {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shopping__total {
  padding: 41px 43px;
  background-color: #f5f3f3;
  max-height: 215px;
}
.shopping__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  padding-bottom: 20px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e2e2e2;
}
.shopping__subtitle {
  color: #4a4a4a;
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
}
.shopping__subtitle span {
  margin-left: 18px;
}
.shopping__title {
  color: black;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
}
.shopping__title span {
  margin-left: 18px;
  color: #f16d7f;
}
.shopping__button {
  width: 100%;
  height: 50px;
  background-color: #f16d7f;
  border: 1px solid #fff;
  color: white;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  transition: color 0.4s, backround-color 0.4s, border 0.4s;
}
.shopping__button:hover {
  color: #f16d7f;
  background-color: white;
  border: 1px solid #f16d7f;
}

/* раздел оформление */
.checkout {
  margin-top: 50px;
}
.checkout__box {
  border-bottom: 1px solid #e8e8e8;
  cursor: default;
}
.checkout__lead {
  color: black;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 30px;
  padding-top: 30px;
  transition: color 0.4s;
}
.checkout__lead::before {
  content: "";
}
.checkout__lead:hover {
  color: #f16d7f;
}
.checkout__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 80px 35px;
}
.checkout__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}
.checkout__check-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.checkout__check {
  display: flex;
  gap: 14px;
  color: black;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}
.checkout__name {
  color: black;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
}
.checkout__desc {
  color: #b3b2b2;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.checkout__desc span {
  font-size: 20px;
  line-height: 10px;
}
.checkout__desc_red {
  color: #ff0d0d;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.checkout__input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 20px;
}
.checkout__input em {
  color: red;
  font-size: 17px;
  line-height: 10px;
  font-weight: 700;
}
.checkout__input input {
  width: 390px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.checkout__forgot-box {
  display: flex;
  align-items: center;
  gap: 32px;
}
.checkout__forgot {
  margin-top: 30px;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  transition: color 0.4s;
}
.checkout__forgot:hover {
  color: #f16d7f;
}

.button-gray {
  height: 50px;
  width: 180px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  transition: border 0.4s, border-color 0.4s, color 0.4s;
}
.button-gray:hover {
  color: #FFF;
  background-color: #4a4a4a;
}
.button-gray_margin {
  margin-top: 30px;
}
.button-gray_width {
  width: 230px;
}
.button-gray_ship {
  width: 110px;
  font-size: 11px;
}
.button-gray_count {
  width: 130px;
  font-size: 11px;
}

/* раздел подпишись */
.subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 97px;
  height: 438px;
  justify-content: center;
  align-items: center;
}
.subscribe_margin {
  margin-top: 0;
}
.subscribe_image {
  background: linear-gradient(50deg, #ffffff, black), url(../img/background_subscribe.png);
  background-size: cover;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe__intersect {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.subscribe img {
  width: 96px;
}
.subscribe__text {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: black;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
}
.subscribe__name {
  color: #f16d7f;
  font-size: 16px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.subscribe__place {
  color: black;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__title {
  text-align: center;
  color: black;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribe__subtitle {
  max-width: 557px;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.subscribe__label {
  margin-top: 32px;
  display: flex;
}
.subscribe__input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px 0 0 30px;
  background-color: #E1E1E1;
  padding-left: 22px;
  padding-right: 22px;
  opacity: 0.67;
  color: black;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribe__btn {
  width: 100px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  border-radius: 0 30px 30px 0;
  color: white;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.subscribe__btn:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

/* информация сайта */
.info {
  margin-top: 110px;
  margin-bottom: 90px;
  display: inline-block;
}
.info__about {
  display: inline-block;
  margin-right: 50px;
}
.info__desc {
  letter-spacing: 0.025em;
  color: #898989;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  width: 430px;
  margin-top: 28px;
}
.info__nav {
  display: inline-block;
  width: 176px;
  margin-right: 60px;
}
.info__nav:last-child {
  margin-right: 0;
}
.info__title {
  color: #f16d7f;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 45px;
}
.info__text {
  display: block;
  color: #898989;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
  transition: color 0.4s;
  margin-bottom: 23px;
}
.info__text:last-child {
  margin-bottom: 0;
}
.info__text:hover {
  color: #f16d7f;
}

/* фолбэки */    
@supports (display: flex) {
  .info {
    display: flex;
  }
  .info__about {
    display: flex;
    flex-direction: column;
  }
  .info__nav {
    display: flex;
    flex-direction: column;
  }
  .info__menu {
    display: flex;
    flex-direction: column;
  }
}
@supports (gap: 0) {
  .info {
    gap: 60px;
  }
  .info__about {
    gap: 28px;
    margin-right: 0;
  }
  .info__desc {
    margin-top: 0;
  }
  .info__nav {
    gap: 45px;
    margin-right: 0;
  }
  .info__title {
    margin-bottom: 0;
  }
  .info__menu {
    gap: 23px;
  }
  .info__text {
    margin-bottom: 0;
  }
}
/* подвал сайта */
.footer {
  display: flex;
  background-color: #e6e6e6;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  color: #7a7a7a;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.footer__nav {
  display: flex;
  gap: 7px;
}
.footer__link {
  display: flex;
  background-color: #FFF;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  fill: #b2b2b2;
  transition: fill 0.4s, background-color 0.4s;
}
.footer__link:hover {
  background-color: #f16d7f;
  fill: white;
}/*# sourceMappingURL=style.css.map */